@import "~core/style-utils/vars";

.SingleSelectBox {
    position: relative;
    .select2 {
        display: block;
        width: 100%;
        padding: 0;

        &-selection {
            min-height: 50px;

            border: 1px solid #aaa;
            border-radius: 5px;

            &--single {
                display: flex;
                align-items: center;

                [class*=__arrow] {
                    top: 50%;

                    transform: translateY(-50%);
                }
            }

            &__rendered {
                @extend %text-defaults;

                vertical-align: middle;
            }

        }
    }

    .select2-container--open {
        .select2-selection {
            border-color: black;

        }
        .select2-dropdown--below {
            z-index: 999;
        }
    }
}