@import "~core/style-utils/vars";

.NestedMenuBack {
    display: flex;
    align-items: center;
    padding: 10px 4px 10px;

    border-bottom: 1px solid $lightGrey;

    background: white;

    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;

    cursor: pointer;

    &:hover {
        background: $lightGrey;
        color: $textColor;
    }
}
