@import "~core/style-utils/vars";

.NestedMenuItem {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    background: white;
    cursor: pointer;

    i {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;

        font-size: 16px;

        cursor: pointer;

        &:hover {
            background: $lightGrey;
            color: $textColor;
        }

        &.is-selected {
            background: $lightGrey;

            &:hover {
                background: darken($lightGrey, 5%);;
                color: $textColor;
            }
        }
    }

    span {
        flex: 1;
        padding: 10px 4px 10px 10px;

        &:hover {
            background: $lightGrey;
            color: $textColor;
        }
    }

    &.is-hovered {
        background: $lightGrey;
        color: $textColor;
    }

    &.is-selected {
        span {
            background: $primaryColor;
            color: white;

            &:hover {
                background: $primaryHoverColor;
                color: white;
            }
        }
    }
}
