.NestedMenuSearchResultsTitle {
    display: flex;
    align-items: center;
    padding: 13px 6px 12px;
    
    border-bottom: 1px solid #cccccc;
    
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    
    &:only-child {
        border-bottom: none;
    }
}