$tn-min: 480px !default;
$xs-min: 620px !default; // Airbnb dates min
$sm-min: 768px !default;
$md-min: 992px !default;
$lg-min: 1200px !default;
$xg-min: 1440px !default; // xg - extra large

$tn-max: ($xs-min - 1) !default;
$xs-max: ($sm-min - 1) !default;
$sm-max: ($md-min - 1) !default;
$md-max: ($lg-min - 1) !default;
$lg-max: ($xg-min - 1) !default;

$speed: 0.2s !default;

$base-font-family: Arial, sans-serif;
$icon-font-family: 'fontello';

$textColor: #444;
$borderColor: #d3d3d3;
$borderActiveColor: #c4c4c4;
$fontSize: 14px;
$lightGrey: #f5f5f5;
$primaryColor: #405681;
$primaryHoverColor: #31456d;

%text-defaults {
    color: $textColor;
    font-size: $fontSize;
    font-family: $base-font-family;
}
