$tn-min:    320px !default; // tn - tiny
$xs-min:    480px !default;
$dates-min: 640px !default; // Airbnb dates min
$sm-min:    768px !default;
$md-min:    992px !default;
$lg-min:    1200px !default;
$xg-min:    1440px !default; // xg - extra large

$tn-max: ($xs-min - 1) !default;
$xs-max: ($sm-min - 1) !default;
$sm-max: ($md-min - 1) !default;
$md-max: ($lg-min - 1) !default;
$lg-max: ($xg-min - 1) !default;

$speed: 0.3s !default;

$base-font-family: Arial, sans-serif;
$icon-font-family: 'fontello';

%text-defaults {
    font-size: 14px;
    font-family: $base-font-family;
}
